* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Indie Flower', cursive;
  }
.body{
    padding-top: 10%;
    margin:0;
    background-color: #bdc3c7;  
    background: linear-gradient(to top, #bdc3c7, #142331);
    height: 100vh;
    display:flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}
.addToDoForm {
    
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 50%;
    border:2px hsl(195, 2%, 69%) solid;
    padding: 5px;
    
  }
 
  .addToDoForm [name="description"]{
       margin: 10px; 
      width:60%;
       font-size: 20px; 
       color: #352e2e;
       padding-left: 16px;

  } 
  .addToDoForm [value="Add"]{ 
    cursor: pointer; 
    margin:13px; 
   width:15%;
    font-size: 20px; 
    color: #352e2e;

}
.fa-sort{
    cursor: pointer; 
    margin: 17px;
    margin-left: 30px;
    font-size: 45px;
    
}
  
.span-style{

    padding: 5px;
    flex:5;
    font-size: 26px;
    width:60%;
    float: left;

}

.container{
    /* display: flex; */
    border:2px hsl(195, 2%, 69%) solid;
    margin-top: 10px;
    width: 50%;
    max-height: 70vh;
    overflow-x: scroll;
    overflow-y: auto;
}

.ul-style{
   width:100%;
}
 .li-Style {
     display: flex;
     align-items: center;
    list-style: none;
    margin: 5px;
     min-height: 45px;;
    padding:7px;
    background: #eee;
    border-bottom: 2px #142331 solid;
    word-wrap: break-word;
}
.todo-item span-style{
    flex:3;

}


.textDecoration{
    color: blue;
    text-decoration: line-through;
}
.fa-edit::before{  
    cursor: pointer; 
    padding-left:20px;
    padding-right:20px;
    color: blueviolet;
    /* flex:1; */
}    
.fa-check-circle:before{
    cursor: pointer; 
    /* padding-left:20px; */
    padding-right:20px;
}
.fa-check-circle:click{
    cursor: pointer; 
    color: green;
    /* padding-left:20px; */
    padding-right:20px;
}
.fa-times:before{
    cursor: pointer; 
    padding-right:10px;


}
.green-color{
    color:'green';
}